<h1>Login</h1>

<form action="/login/acessar" method="post">

    <div class="container-cadastroU-login">
        <label>Nome:</label>
        <input type="text" name="nome">
        <label>Senha:</label>
        <input type="password" name="senha">
        <button type="submit" style="background-color: #66C7F4;">Login</button>
    </div>

</form>